.nav-head {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--size-zero-five);
    margin-bottom: var(--size-zero-five);
    background-color: white;
    z-index: 9999;
  }
  
  .app-head {
    margin-left: var(--size-one);
    font-size: var(--size-two);
    color: rgba(235, 13, 13, 0.829);
  }
  :-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
  .nav-left {
    display: flex;
    margin-left: var(--size-two);
    gap: var(--size-zero-five);
  }
  .nav-right {
    display: flex;
    gap: var(--size-zero-five);
    margin-left: auto;
    margin-right: var(--size-two);
  }
  @media screen and (max-width: 800px)
  {
    .nav-head {
      display: flex;
      font-size: var(--size-one);
      border: none;
      align-items: baseline;
    }
    .nav-left {
      margin-left: 0;
      margin-bottom: var(--size-one);
    }
    form {
      margin-bottom: var(--size-one);
    }
    .nav-right {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: var(--size-one);
    }
    .app-head {
      margin-right: 0;
    }
  }
  
  
  form {
    color: #555;
     display: flex;
    /* flex: 1;  */
    height: 10%;
    padding: 0.2rem 0.8rem;
    border: 0.07rem solid currentColor;
    border-radius: var(--size-zero-three);
  }
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0.1rem var(--size-zero-three);
    font-size: var(--size-one);
    color: inherit;
    border: 0.1rem solid transparent;
    border-radius: inherit;
  }
  input[type="search"]::placeholder {
    color: #bbb;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: var(--size-two);
    padding: 0;
    margin: 0;
    border: 0.07rem solid transparent;
    border-radius: inherit;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='22' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  button[type="submit"]:focus,
  input[type="search"]:focus {
    outline: none;
  }
  .search-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav-btn {
    padding: var(--size-zero-four);
    font-size: var(--size-one);
    border-radius: var(--size-zero-four);
  }
  .nav-btn:hover, form:hover {
    color: rgba(235, 13, 13, 0.829);
  }
  .badge {
    position: relative;
    width: min-content; 
  }
  .badge>span {
    position: absolute;
    border-radius: 50%;
    text-align: center;
  }
  .badge-red {
    background-color: var(--red);
  }
  .badge-ic {
    width: var(--size-one);
    height: var(--size-one);
    font-size: 0.8rem;
    font-weight: bold;
    left: var(--size-one-five);
    bottom: var(--size-one-five);
    color: var(--white);
  }
  a {
    text-decoration: none;
    color: gray;
  }